// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// Variables
$primary-font: 'Poppins', sans-serif;
$primary-bg-color: #1C2226;
// $overall-page-padding: 0px 80px;
$overall-page-padding: 0px 6em;
$icon-logo-size: 25px;
$top-nav-gap: 20px;
$top_nav_links_hover_color: #0080FF;
$primary_color: #0080FF;
$top-nav-font-size: 19px;
$top-nav-font-color: white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: $primary-font;
    scroll-behavior: smooth;
}

body {
    min-width: 100%;
    background-color: $primary-bg-color;
    padding: $overall-page-padding;
    min-height: 100vh;
    position: relative;
}


// Custom Scroll Bar
/* Scrollbar */
::-webkit-scrollbar {
    width: 3px;
    /* Width of the scrollbar */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Background of the scrollbar track */
    border-radius: 10px;
    /* Optional: round corners */
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: $primary_color;
    /* Color of the scrollbar handle */
    border-radius: 10px;
    /* Optional: round corners */
}

/* Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color when hovered */
}


// Navbar Styles

.header {
    min-height: 100%;
}

.logo_container {
    display: flex;
    align-items: center;


    a:link,
    a:visited {
        display: inline-block;
        text-decoration: none;
        color: white;

    }
}




.logo {
    letter-spacing: 2px;

    span {
        color: $primary_color;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0px;
}

.nav_container {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 45px;

    .nav_link>a:link,
    .nav_link>a:visited {
        text-decoration: none;
        color: white;
        transition: color .3s;
        font-size: 20px;
    }

    .nav_link>a:hover {
        color: $top_nav_links_hover_color;
    }
}

.nav_social_links_container {
    display: flex;
    align-items: center;
    gap: $top-nav-gap;

    .nav_social_links>img {
        height: 25px;
        filter: brightness(80%);
        transition: filter .3s;
    }

    .nav_social_links>img:hover {
        filter: brightness(120%);
    }
}

// Main Styles

.main {
    display: flex;
    color: white;
    font-size: 20px;
    min-height: 100%;
    width: 100%;


}

.main_left {
    flex-basis: 50%;
    padding: 100px 0px;
}

.main_first {
    display: inline-block;
    font-size: .7em;
    font-weight: 400;
    margin-bottom: 5px;
}

.main_main {
    display: inline-block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

.main_second {
    display: inline-block;
    font-size: .8em;
    margin-right: 5px;

}

.main_third {
    display: inline-block;
    font-size: 1em;
    color: $primary_color;
}

.main_left>a:link,
.main_left>a:visited {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    width: 25%;
    text-align: center;
    background: $primary_color;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px #006ad3;

}

.main_left>a:hover {
    cursor: pointer;
    background: #1c8dff;
}

.main_right {
    flex-basis: 50%;
    padding-left: 150px;
}


.main_right_img_container>img {
    max-height: 500px;
    display: inline-block;
}


// About Me


.about_me {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 100px 0;
    color: white;
}

.about_me_left_img_container>img {
    height: 500px;
}

.about_me_right {
    padding: 70px 60px;
    align-self: flex-start;
    position: relative;
}

.about_me_title {
    font-size: 27px;
    color: white;
    margin-bottom: 5px;
}

.about_me_title_second {
    color: $primary_color;
}

.about_me_position {
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.about_me_desc {
    font-weight: 300;
    line-height: 1.7em;
    margin-bottom: 20px;
}


// Projects Section

// Projects Section Variables
$project_card_bg_color: #21282D;

.projects_section {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;


}

.projects_title {
    font-size: 27px;
    margin-bottom: 60px;

    .projects_title_second {
        color: $primary_color;
    }
}

.project_details {
    padding: 25px 15px;
}

.project_title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #0882fd;
    text-shadow: 0 0 2.5px #006ad3;
}

#project_tomato {
    color: tomato;
    text-shadow: 0 0 2.5px tomato;
}

.project_desc {
    margin-bottom: 10px;
    line-height: 1.6em;
    list-style: none;


}



.projects_container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project_card {
    width: 40%;
    height: fit-content;
    background-color: $project_card_bg_color;
    border-radius: 10px;
    transition: transform .3s;

    .project_img_container {
        width: 100%;
        height: 250px;
        border-radius: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
}

.project_card:hover {
    box-shadow: 0 0 10px 5px #272727;
    cursor: pointer;
    // transform: translateY(-5px);
}

.project_btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #1C2226;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 0 0 10px 5px #252a2d;
}

.live_demo_btn {
    background-color: #0080FF;
}

.source_code_btn:hover {
    background-color: #13191d;
    cursor: pointer;
}

.live_demo_btn:hover {
    background-color: #006ad3;
    cursor: pointer;
}


// Skills Section

.skills_section {
    width: 100%;
    color: white;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills_title {
    font-size: 27px;
    margin-bottom: 60px;

    span {
        color: $primary_color;
    }
}

.skills_container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    img {
        display: inline-block;
        height: 40px;
        margin-bottom: 20px;
    }

    img:hover {
        filter: brightness(110%);
        cursor: pointer;
    }
}


// To Top Btn
.to_top_btn {
    position: fixed;
    // bottom: 50px;
    // right: 50px;

    bottom: min(5vw, 50px);
    right: min(5vw, 50px);
    scroll-behavior: inherit;


    i.fa-circle-chevron-up {
        font-size: 35px;
        border-radius: 50%;
        color: $primary_color;
        scroll-behavior: inherit;
        box-shadow: 0 0 4px 1px $primary_color;

    }
}